html,
body {
    font-family: Arial;
    background-color: #242320;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.infos {
    position: absolute;
    left: 40px;
    top: 40px;
}

.infos h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
    line-height: 1.2;
}

.infos h3 {
    color: red;
}

.blocks {
    color: white;
}

.blocks .row {
    display: flex;
}

.blocks .block {
    height: 100px;
    width: 100px;
    border: solid 1px white;
    background-color: transparent;
    color: black;
    box-shadow: 0px 0px 35px black;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    margin: 12px;
}

.blocks .block.open {
    transform: rotateY(0);
    background: white;
    cursor: default;
    pointer-events: none;
}

.blocks .block.show {
    font-size: 50px;
}

.blocks .block:active {
    transition: 0s;
    background-color: #fff;
    color: black;
}

.blocks .block:hover {
    background-color: #fff;
    box-shadow: 0px 0px 35px #fff;
}

.inputStatus {
    margin-top: 10px;
}

.inputStatus .circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: white;
    opacity: 0.2;
    margin: 6px;
    border-radius: 50%;
}

.inputStatus .circle.correct {
    opacity: 1;
}

.inputStatus.correct .circle {
    background-color: green;
}

.inputStatus.wrong .circle {
    background-color: red;
}

.notclick {
    pointer-events: none;
}